body {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #000;
   font-size: 40px;
   
}

 h1 {
    color: #00ff00;
    margin-bottom: 20px;
}
p{
    color: white;
}
