body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color:wheat;
}
.contact-form{
    max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: #000;
           
            border-radius: 5px;
}


    form {
        display: flex;
        flex-direction: column;
    }



input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid wheat;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}


button {
    background-color:white;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color:wheat;
}