body{
    background-color: black;
     color: wheat;
}
h1{
    text-align: center;
    margin: 30px 0 50px;
}
.gallery{
    margin:10px 50px;
}
.gallery img{
    width:430px;
    padding:5px;
    transition: 1s;;
}
