body{
    background-color: black;
    color:wheat;
    font-size: 30px;
}
.signupform{
    max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: #000;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }
h1 {
            
            text-align: center;
        }
form {
            display: flex;
            flex-direction: column;
        }
label {
            margin-bottom: 8px;
        }
   

button {
    background-color: white;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color:wheat;
}